In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('../data/large_skill_injector_domain.csv')

In [5]:
data.head()

       average        date    highest       lowest  order_count  volume
0  797900000.0  2022-07-01  804300000  793000000.0          182     217
1  797700000.0  2022-07-02  805450000  790000000.0          110     139
2  809600000.0  2022-07-03  818750000  800500000.0           98     110
3  824200000.0  2022-07-04  825000000  819200000.0          103     127
4  829700000.0  2022-07-05  833500000  826500000.0          103     132